{
	"tabWidth": 2,
	"useTabs": true,
	"semi": true,
	"singleQuote": false,
	"printWidth": 80,
	"trailingComma": "all",
	"bracketSpacing": true,
	"bracketSameLine": true,
	"arrowParens": "avoid",
	"importOrder": ["^@/(.*)$", "^.[./]", "^[./]"],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"plugins": ["@trivago/prettier-plugin-sort-imports"]
}
